.mainlayout{
    /*background-color: red;*/
    /*border: 1px solid green;*/
}

main{
    /*background-color: red;*/
    display: flex;
    width: 100%;
    justify-content: center;
    /*align-items: center;*/
    height: 100vh;
}