.mainlayout{
background-color: #d7f1d8;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

main{
    /*background-color: red;*/
    display: flex;
    width: 100%;
    justify-content: center;
    /*align-items: center;*/
    /*height: 140vh;*/
    margin-bottom: 20vh;
}